<h1><%= @product.title %> </h1>
<p><%= @product.description %></p>
<small>$<%= format("%.2f", @product.price) %></small>
  <small >
    sold by <em><%= @product.user.full_name %></em>
  <small>
<div>

<small>
    <%= button_to("Delete", product_path, method: :delete, data: { confirm: "Are you sure?" }) %>
</small>
<small>
    <%= link_to("Edit", edit_product_path(@product.id)) %>
</small>
<% favourite = @product.favourites.find_by(user: current_user) %>
<% if favourite.present? %>
    <%= button_to "Unfavourite", favourite_path(favourite), method: :delete %>
<% else %>
    <%= button_to "Favourite", product_favourites_path(@product), method: :post %>
<% end%>
</div> 

<h3>
Reviews
</h3>

<ul>
    <% @reviews.each do |review| %>
        <li>
            <%= review.body %>
            <%= review.rating %>
            Reviewed by: <%= review.user.full_name %>
            
            <small>
            <div>
                Like:<%= review.likes.count() %>
            </div>
            <%= button_to("Delete", product_review_path(@product.id, review.id), method: :delete, data: { confirm: "Are you sure?" }) %>
            </small>
            <small>
                <% like = review.likes.find_by(user: current_user) %>
                <% if like.present? %>
                    <%= button_to "Unlike", like_path(like), method: :delete %>
                <% elsif user_signed_in? %>
                    <%= button_to "Like", product_review_likes_path(@product.id, review.id), method: :post %>
                <% end%>
            </small>
        </li>
    <% end %>
</ul>

<h4>Write your review</h4>

<ul>
<% if @review.errors.any? %>
    <% @review.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
<% end %>
</ul>
<%= form_with(model: [@product, @review]) do |form| %>
<div>
    <%= form.label :body %>
    <%= form.text_area :body %>
</div>
<div>
    <%= form.label :rating %>
    <%= form.number_field :rating %> <span>Rating should be from 1 to 5<span>
</div>
<%= form.submit %>
<% end %>