<!DOCTYPE html>
<html>
  <head>
    <title>Amazon43</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <a href="/">Home</a>
    |
    <a href="/about">About</a>
    |
    <a href="/contact">Contact</a>
    |
    <a href="/new_bill">New Bill</a>
    |
    <%= link_to "Products", products_path %>
    |
    <%= link_to "New Product", new_product_path %>
    
    <% flash.each do |type, message| %>
      <%= type + "-------" + message %>
    <% end %>

    <%= yield %>
  </body>
</html>
